
.navbar {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 100%;
    padding: 15px;
    transition: background-color 0.3s ease;
    background-color: transparent;
   
  }
  
  .navbar.scrolled {
    top: 0;
    right: 0;
    position: fixed;
    left: 1.5%;
    padding: 10px;
    padding-left: 60px;
    padding-top: 40px;
    background-color: #93805c;
    height: 14%;
    width: calc(100% - 3%); 
    z-index: 1;
  }

  .navbar.scrolled nav ul li a {
    color: rgb(53, 50, 43);
  }
  
  .navbar nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .navbar nav ul li:first-child {
    margin-left: 30px;
  }
  .navbar nav ul li:last-child {
    margin-right: 0;
  }
  
  .navbar nav ul li a {
    color: #b3c1b7;
    text-decoration: none;
    font-family: "VT323", monospace;
    font-size: 2rem;
    margin-right: 10rem;
    margin-left: 9rem;
  }
  
  .navbar nav ul li a:hover {
    color: #474760;
  }

  /* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  /* Adjust the styles for mobile screens */
  .navbar {
    top: 0;
    left: 0;
    padding: 10px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center vertically */
    background-color: transparent;
  }

  .navbar.scrolled {
    padding-left: 10px;
    padding-top: 20px;
    height: auto;
    background-color: #93805c;
  }

  .navbar nav ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar nav ul li {
    margin: 10px 0;
  }

  .navbar nav ul li a {
    font-size: 1rem;
    margin: 0;
  }
}







  
  
  
  
  
  