<div class="container">
  <h2 class="page-title">Callback Page</h2>

  <div class="square-container">
    <div class="square square1"></div>
    <div class="square square2"></div>
    <div class="square square3"></div>
  </div>

  <input
    type="text"
    [(ngModel)]="artistName"
    placeholder="Enter artistName"
    (keyup.enter)="displayStats()"
  />
  <button (click)="displayStats()">Show me my data</button>

  <div *ngIf="!artistEntered">
    <p>oh no, artist name not entered</p>
  </div>

  <div *ngIf="!artistExists">
    <p>Artist name might be misspelled or doesn't exist in the database!</p>
  </div>

  <div *ngIf="emptyArray">
    <p>You haven't listened to any song by the artist.</p>
  </div>

  <div *ngIf="showBarChart">
    <h3>Vertical Bar Chart</h3>
    <ngx-charts-bar-horizontal
      [view]="[1000, 400]"
      [results]="barChartData"
      [xAxisLabel]="'Count'"
      [legendTitle]="'Play Count'"
      [yAxisLabel]="'Songs'"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
    >
    </ngx-charts-bar-horizontal>
  </div>

  <div *ngIf="showPieChart">
    <ngx-charts-pie-chart
      [results]="chartData"
      [legend]="true"
      [legendTitle]="'User Activity'"
      [view]="[1000, 300]"
      [labels]="true"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
