<div class="border-container">
  <app-navbar></app-navbar>
  <body class="body-div">
    <h2 class="page-title">Explore Artist Insights</h2>

    <div class="input-container">
      <input
        type="text"
        id="inputField"
        [(ngModel)]="artistName"
        placeholder="enter artist name"
        (keyup.enter)="displayStats()"
      />

      <a (click)="displayStats()" class="btn--action" id="submitButton">
        <span class="fa fa-play"></span>
      </a>
    </div>

    <div *ngIf="!artistEntered">
      <p class="alert">oh no, artist name not entered</p>
    </div>

    <div *ngIf="!artistExists">
      <p class="alert-l">
        artist name may be misspelled or does not exist in the database :(
      </p>
    </div>

    <div *ngIf="emptyArray">
      <p class="alert-e">you haven't streamed any song by this artist yet</p>
    </div>

    <div *ngIf="isLoading">
      <div class="spinner-container">
        <p>loading ...</p>
        <i class="fa-solid fa-compact-disc fa-spin fa-2xl"></i>
      </div>
    </div>

    <div
      *ngIf="!isLoading && displayReady"
      style="background-color: rgb(21, 21, 31); padding: 9%; margin-top: 20%"
    >
      <div *ngIf="showFoundArtist && !emptyArray" class="found-container">
        <div class="found-artist">
          <p>
            You found this artist on <br />

            <strong>{{ earliestListenDate }}</strong>
          </p>
        </div>

        <div class="found-song">
          <p>
            <br />
            and it was through the song <br /><strong>{{
              earliestListenSongName
            }}</strong>
          </p>
        </div>
      </div>

      <div *ngIf="showBarChart" class="bar-chart-container">
        <h3 class="bc-title">
        That's how many times you heard each of their songs
        </h3>
        <div class="bar-chart">
          <ngx-charts-bar-horizontal
            [view]="[1000, 400]"
            [results]="barChartData"
            [xAxisLabel]="'Count'"
            [legendTitle]="'Play Count'"
            [yAxisLabel]="'Songs'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [barPadding]="10"
          >
          </ngx-charts-bar-horizontal>
        </div>
      </div>

      <div *ngIf="showPieChart" class="pie-chart">
        <ngx-charts-pie-chart
          [results]="chartData"
          [legend]="true"
          [legendTitle]="'User Activity'"
          [view]="[1000, 300]"
          [labels]="true"
        >
        </ngx-charts-pie-chart>

        <p class="pc-p">
          you've listened to {{ pie_percent.toFixed(0) }}% of <br />
          the discography of {{ artistName }}
        </p>
      </div>

    </div>
    

      <div *ngIf="viewUnlistened">
        <div class="viewUnlistened">
          <h3>Songs you might have missed</h3>
          <a (click)="toggleUnlistenedSongs()" class="unlistened-btn">
            show unlistened songs
            <span></span>
          </a>
          <ul *ngIf="showUnlistenedSongs">
            <li *ngFor="let song of unlistenedSongs">{{ song }}</li>
          </ul>
        </div>
      </div>
    

    <div class="bottom-border"></div>
  </body>
</div>
