<div class="border-container">
  <div class="top-border"></div>
  <app-navbar></app-navbar>
  <body class="body-div">
    <section class="main">
      <h2 class="page-title">Explore Artist Insights</h2>

      <div class="input-container">
        <input
          type="text"
          id="inputField"
          [(ngModel)]="artistName"
          placeholder="enter artist name"
          (keyup.enter)="displayStats()"
        />

        <a
          (click)="displayStats()"
          class="btn--action no-underline"
          id="submitButton"
        >
          <span class="fa fa-play"></span>
        </a>
      </div>

      <div *ngIf="!artistEntered">
        <p class="alert">oh no, artist name not entered</p>
      </div>

      <div *ngIf="!artistExists">
        <p class="alert-l">
          artist name may be misspelled or does not exist in the database :(
        </p>
      </div>

      <div *ngIf="emptyArray">
        <p class="alert-e">you haven't streamed any song by this artist yet</p>
      </div>

      <div *ngIf="isLoading">
        <div class="spinner-container">
          <p>loading ...</p>
          <i class="fa-solid fa-compact-disc fa-spin fa-2xl"></i>
        </div>
      </div>

      <div *ngIf="!isLoading">
        <div class="arrow bounce">
          <a
            class="fa fa-arrow-down fa-2xl"
            style="color: rgb(208, 216, 213)"
          ></a>
        </div>
      </div>
    </section>

    <div
      *ngIf="!isLoading && displayReady"
      style="background-color: rgb(21, 21, 31); padding: 9%; margin-top: 10%"
    >
      <div *ngIf="showFoundArtist && !emptyArray" class="found-container">
        <div class="found-artist">
          <p>
            You found this artist on, <br />

            <strong>{{ earliestListenDate }}</strong>
          </p>
        </div>

        <div class="found-song">
          <p>
            <br />
            by listening to the song, <br /><strong>{{
              earliestListenSongName
            }}</strong>
          </p>
        </div>
      </div>

      <div *ngIf="showBarChart" class="bar-chart-container">
        <h3 class="bc-title">Play Count</h3>
        <div class="bar-chart">
          <ngx-charts-bar-horizontal
            [view]="[1000, 400]"
            [results]="barChartData"
            [xAxisLabel]="'Count'"
            [legendTitle]="'Play Count'"
            [yAxisLabel]="'Songs'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [barPadding]="10"
          >
          </ngx-charts-bar-horizontal>
        </div>
      </div>

      <div *ngIf="showPieChart" class="pie-chart">
        <div class="ngx-pc">
          <ngx-charts-pie-chart
            [results]="chartData"
            [legend]="true"
            [legendTitle]="'User Activity'"
            [view]="[700, 300]"
            [labels]="true"
          >
          </ngx-charts-pie-chart>
        </div>

        <p class="pc-p">
          You've listened to <br />
          <span>
            {{ pie_percent }}%
          </span>
          <br />
          of their discography
        </p>
      </div>
    </div>

    <div *ngIf="viewUnlistened">
      <div class="viewUnlistened">
        <h3>Songs you might have missed</h3>
        <a
          (click)="toggleUnlistenedSongs()"
          class="unlistened-btn no-underline"
        >
          Show Me
          <span></span>
        </a>

        <div *ngIf="isLoading1">
          <div class="spinner-container1">
            <p>this might take a while...</p>
            <i class="fa-solid fa-compact-disc fa-spin fa-2xl"></i>
          </div>
        </div>

        <div *ngIf="!isLoading1 && listUnlistenedSongs">
          <div
            style="
              padding: 30px;
              margin: 5% 10%;
              background-color: rgb(21, 21, 31);
              border-radius: 15px;
            "
          >
            <p class="tut">
              For better accuracy of pie-chart: <br />
              - click on the + icon if you've heard the song before<br />
              - click on the x icon if it's not by the same artist <br />
              Then, click on 'Regenerate Chart'.
            </p>
          </div>
          <div *ngFor="let album of trackToAlbum" class="album-container">
            <div class="album-details">
              <h3 class="album-title" style="color: rgb(193, 151, 177)">
                {{ album.albumName }}
              </h3>
              <div class="album-image">
                <img
                  src="{{ album.albumImage }}"
                  alt="Image of the album named {{ album.albumName }}"
                />
              </div>
              <div class="album-songs">
                <ul>
                  <li *ngFor="let song of album.songs">
                    <ng-container
                      *ngIf="song.length <= 50; else ellipsisTemplate"
                    >
                      <span
                        [ngClass]="{
                          strikethrough: isCrossed[song],
                          coloured: isClicked[song]
                        }"
                        >{{ song }}</span
                      >
                    </ng-container>
                    <ng-template #ellipsisTemplate>
                      <span
                        [ngClass]="{
                          strikethrough: isCrossed[song],
                          coloured: isClicked[song]
                        }"
                        >{{ song | slice : 0 : 50 }}...</span
                      >
                    </ng-template>
                    <button (click)="strikeSong(song)">
                      <i class="fa-solid fa-circle-xmark fa-2x"></i>
                    </button>

                    <button (click)="addOrRemoveFromListenedSongs(song)">
                      <ng-container *ngIf="!isClicked[song]; else minusBtn">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                      </ng-container>
                      <ng-template #minusBtn>
                        <i class="fa-solid fa-circle-minus fa-2x"></i>
                      </ng-template>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <button class="regenerate-btn" (click)="updateStatistics()">
            Regenerate Chart
          </button>
        </div>
      </div>
    </div>

    <div class="bottom-border"></div>
  </body>
  <app-footer></app-footer>
</div>
