.body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(38, 38, 38);
}

.Oswald {
  font-family: Oswald, sans-serif;
}

.border-container {
  border: 20px solid rgb(38, 38, 38);
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.bottom-border {
  width: 100%;
  height: 20px;
  background-color: rgb(38, 38, 38);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 6rem;
  font-weight: 400;
  margin-top: 11%;
  margin-left: 60%;
  opacity: 0;
  /* transform: translateY(20px); */
  transform: translateY(20px);
  color: #987f9b;
}

.title-visible {
  opacity: 1;
  transform: translateY(0);
}

.view-stats-text {
  font-size: 2.5rem;
  margin-top: 4%;
  margin-left: 60%;
  animation: fade-in-slower 3s ease forwards;
  color: #949e97;
}

.parallax {
  background-image: url("../../assets/images/bg-1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(27, 27, 27);
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100%;
}

.username-content {
  background-image: url("../../assets/images/bg-2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 1;
  background-color: rgb(31, 31, 31);
  color: #b3c1b7;
  height: 100vh; 
}

.input-container {
  display: flex;
  width: 32%;
  background-color: #c48f52;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 7px #6b4f2e;
  margin-top: 8%;
  position: fixed;
  top: 15%;
  left: 44%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 5px;
  color: #371c08;
}

input::placeholder {
  color: #1a0f09;
}

.alert {
  font-size: small;
  left: 28%;
  top: 24%;
  position: fixed;
  color:rgb(197, 162, 137);
}


.btn--action {
  display: block;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: #e7a19b;
  color: #000;
  transition: all 0.5s ease 0s;
  box-shadow: 0 10px #594f59;
  position: fixed;
  overflow: hidden;
  font-size: 1.5rem;
  top: 29%;
  left: 64%;
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.btn--action span {
  display: inline-flex;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn--action:hover span {
  padding-left: 1.3rem;
}

.btn--action span::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem; /*font-size of icon*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn--action:hover span:before {
  content: "\f04b";
  opacity: 1;
  padding-right: 30px; /*spacing between icon and button */
}
.btn--action:active {
  box-shadow: 0 5px #131313;
  transform: translateY(5px);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-slower {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  animation: fade-in 1.5s ease forwards;
}

.temp-section {
  background-color: #0c121f;
  color: rgb(163, 151, 151);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.p-username {
  display: flex;
  width: 32%;
  border-radius: 20px;
  padding: 20px;
  background-color: #c48f52;
  box-shadow: 0 7px #6b4f2e;
  position: fixed;
  top: 29%;
  left: 44%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(27, 27, 27);

}

.heatmap-btn {

  display: block;
  width: auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #8d7c99;
  color: #000;
  transition: all 0.5s ease 0s;
  box-shadow: 0 10px #594f59;
  position: fixed;
  overflow: hidden;
  font-size: 1.5rem;
  top: 58%;
  left: 28%;
  width: 200px;
  height: 115px;
  border-radius: 30px;
}

.heatmap-btn-0 {

  display: block;
  width: auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #8d7c99;
  color: #000;
  box-shadow: 0 10px #594f59;
  position: fixed;
  overflow: hidden;
  font-size: 1.5rem;
  top: 58%;
  left: 28%;
  width: 200px;
  height: 115px;
  border-radius: 30px;
}

.heatmap-btn:active {
  box-shadow: 0 5px #131313;
  transform: translateY(5px);
}

.artist-btn {
  display: block;
  width: auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #8d7c99;
  color: #000;
  transition: all 0.5s ease 0s;
  box-shadow: 0 10px #594f59;
  position: fixed;
  overflow: hidden;
  font-size: 1.5rem;
  top: 59%;
  left: 56%;
  width: 206px;
  height: 110px;
  border-radius: 30px;
}

.artist-btn-0 {
  display: block;
  width: auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #8d7c99;
  color: #000;
  box-shadow: 0 10px #594f59;
  position: fixed;
  overflow: hidden;
  font-size: 1.5rem;
  top: 59%;
  left: 56%;
  width: 206px;
  height: 110px;
  border-radius: 30px;
}

.artist-btn:active {
  box-shadow: 0 5px #131313;
  transform: translateY(5px);
}
