<body style="background-color: rgb(33, 38, 44)">
  <div class="border-container">
    <section class="parallax">
      <h1 class="title title-visible">melo-stats</h1>
      <p class="view-stats-text Oswald" #viewStatsText>
        view stats based on your<br />
        listening activity using<br />
        your last.fm account
      </p>
    </section>

    <section class="temp-section">
      <div *ngIf="!userExists">
        <p class="temp-text">to begin, enter your username</p>
      </div>

      <div *ngIf="userExists">
        <p class="temp-text">. . . </p>
      </div>
    </section>

    <section
      class="username-content"
      style="background-color: rgb(17, 23, 33)"
      #usernameContent
    >
      <div *ngIf="!userExists" #inputContainer>
        <div class="input-container">
          <input
            type="text"
            placeholder="enter your username "
            [(ngModel)]="username"
            (keyup.enter)="setUsername()"
          />
        </div>

        <div *ngIf="!userEntered">
          <p class="alert">username not entered oh no</p>
        </div>

        <div *ngIf="!userVerified">
          <p class="alert">
            username doesn't exist, please check your spelling :3
          </p>
        </div>

        <a (click)="setUsername()" class="btn--action">
          <span></span>
        </a>

        <a class="heatmap-btn-0">
          heat map
          <span></span>
        </a>

        <a class="artist-btn-0">artist data
          <span></span>
        </a>
      </div>

      <div *ngIf="userExists" #userDisplay>
        <p class="p-username">Hi {{ username }}! Have fun bae xoxo</p>

        <a class="btn--action">
          <span></span>
        </a>

        <a (click)="viewHeatMap()" class="heatmap-btn">
          heat map
          <span></span>
        </a>

        <a (click)="fetchArtistData()" class="artist-btn">
        artist data
          <span></span>
        </a>
      </div>
      
    </section>

    <div class="bottom-border"></div>
  </div>
</body>
