<div class="border-container">
  <app-navbar></app-navbar>
  <body>
    <div class="main">
      <p>
        Hi, I'm Ramya, the creator of this website and an art and music lover. <br />If
        you liked it or faced any difficulties while using it, let me know: <br />
        ramya.srinivasan1907@gmail.com<br />
        Also check out my spotify at: <a href=" https://open.spotify.com/user/u19or2waglucsbogk1bo0sbrf?si=aqwWdMUdS6eMjgKYeiTUNQ">✧･ﾟramya ☾</a>
        <br />
       happy listening <3</p>
    </div>
    
  </body>
  <div class="bottom-border"></div>
  <app-footer></app-footer>
  
</div>
