<p>heatmap works!</p>

<h1>Welcome to Your Music Dashboard</h1>
<div class="year-selector">
  <label for="yearDropdown">Select a Year:</label>
  <select
    id="yearDropdown"
    [(ngModel)]="selectedYear"
    (change)="onYearChange()"
  >
    <option *ngFor="let year of availableYears" [value]="year">
      {{ year }}
    </option>
  </select>
</div>


<ngx-charts-heat-map
  [results]="heatmapData"
  [legend]="true"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [gradient]="true"
  [legendTitle]="'Play Count'"
  [animations]="true"
></ngx-charts-heat-map>
