
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: rgb(21, 21, 31);
}

.border-container {
  border: 20px solid rgb(38, 38, 38);
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  color: #c7ad7c;
  font-family: "VT323", monospace;
  font-size: 8rem;
  display: flex;
  animation: fade-in 0.7s ease forwards;
}

.title strong {
  font-weight: 650;
}

.view {
  align-items: center;
  justify-content: center;
  margin: 7% 0 5% 0;
  color: rgb(161, 189, 180);
  font-family: "VT323", monospace;
  font-size: 4rem;
  animation: fade-in 1.2s ease forwards;
}

.year-selector select {
  padding: 10px;
  border: none;
  border-radius: 1.5rem;
  background-color: #e7a19b;
  color: #000;
  font-size: 2rem;
  box-shadow: 0 5px #594f59;
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: "VT323", monospace;
  margin-left: 32%;
  margin-top: 28%;
}

.year-selector select:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px #594f59;
}

.year-selector select:active {
  transform: translateY(0);
  box-shadow: 0 2px #131313;
}

.spinner-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heatmap-container {
  margin: 4% 0;
  animation: heatmapAnimation 4s ease-in-out;
  opacity: 1;
  width: 100%;
}

.heatmap-info strong {
  color: #c7ad7c;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .border-container {
    padding: 10px; /* Add some padding for smaller screens */
  }

  .year-selector select {
    margin-left: 10%; /* Adjust the margin for the select element */
    margin-top: 5%;
  }

  /* .heatmap-info {
    font-size: 1.5rem;
    width: calc(100% - 20px);
    padding: 10px;
  }  */
}

.heatmap-info {
  font-size: 3 rem;
  margin-top: 7% 0;
  background-color: #6c5f75;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  font-family: "VT323", monospace;
  font-size: 2rem;
  color: rgb(28, 25, 59);
  height: 350px;
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 
 @keyframes heatmapAnimation {
  0% {
   
    transform: translateX(-100%);
  }
  100% {
    
    transform: translateX(2%);
  }
}  

