<div class="border-container">
  <div class="top-border"></div>
  <app-navbar></app-navbar>

  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(21, 21, 31);
        min-height: 100vh;
      "
    >
      <h1 class="title"><strong>365 days of sound</strong></h1>

      <div class="header">
        <h3 class="view">View Scrobbles for the Year</h3>
        >

        <div class="year-selector">
          <select
            id="yearDropdown"
            [(ngModel)]="selectedYear"
            (change)="onYearChange()"
          >
            <option *ngFor="let year of availableYears" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="isLoading" class="spinner-container">
        <p
          style="
            color: rgb(120, 168, 159);
            font-family: VT323, monospace;
            margin-left: 5%;
            margin-right: 2%;
            font-size: 2rem;
          "
        >
          loading..
        </p>
        <i
          class="fa-solid fa-compact-disc fa-spin fa-2xl"
          style="color: #bc8884; margin-bottom: 3%"
        ></i>
      </div>

      <div *ngIf="!isLoading && alertUser">
        <p
          style="
            color: rgb(120, 168, 159);
            font-family: VT323, monospace;
            margin-left: 5%;
            margin-right: 2%;
            font-size: 1.5rem;
            white-space: nowrap;
          "
        >
          sorry, there's no recorded data for that year
        </p>
      </div>

      <div *ngIf="displayReady && !alertUser" style="padding: 0; margin: 0">
        <div class="heatmap-container">
          <ngx-charts-heat-map
            [results]="heatmapData"
            [view]="[1300, 300]"
            [scheme]="'nightLights'"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [gradient]="true"
            [legendTitle]="'Play Count'"
            [animations]="true"
            [xAxisTickFormatting]="calendarAxisTickFormatting"
            [tooltipText]="calendarTooltipText"
            [innerPadding]="4"
            [trimYAxisTicks]="true"
            [maxYAxisTickLength]="3"
          ></ngx-charts-heat-map>
        </div>
      </div>

      <div class="heatmap-info" *ngIf="displayReady && !alertUser ">
        <p style="margin: 5% 0 0 5%">
          Your peak scrobble count <br />occured on
          <strong style="font-size: 4.5rem;" >{{ highestScrobbleDay }}</strong
          >, <br />
          where you recorded an impressive <br />
          <strong style="font-size: 6rem;">{{ highestScrobbleCount }}</strong> scrobbles.
          <br />
        </p>
        <p style="margin-top: 3%; margin-left: 48%">
          Throughout the year,<br />you averaged <br />
          <strong style="font-size: 6rem; margin-left: 30%;">{{ averageScrobbles }}</strong><br />
          scrobbles per day.
        </p>
      </div>
    </div>
    <div class="bottom-border"></div>
    
  </body>

  <app-footer></app-footer>
  
</div>

