html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.border-container {
  border: 20px solid rgb(38, 38, 38);
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

.top-border {
  width: 100%;
  height: 20px;
  background-color: rgb(38, 38, 38);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.bottom-border {
  width: 100%;
  height: 20px;
  background-color: rgb(38, 38, 38);
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: #c7ad7c;
  font-family: "VT323", monospace;
  font-size: 8rem;
  display: flex;
  animation: fade-in 0.7s ease forwards;
  text-shadow: 2px 2px 3px rgba(236, 228, 228, 0.4);
}

.title strong {
  font-weight: 650;
}

.view {
  align-items: center;
  justify-content: center;
  margin: 7% 0 5% 0;
  color: rgb(161, 189, 180);
  font-family: "VT323", monospace;
  font-size: 4rem;
  animation: fade-in 1.2s ease forwards;
}

.year-selector select {
  padding: 10px;
  border: none;
  border-radius: 1.5rem;
  background-color: #e7a19b;
  color: #000;
  font-size: 2rem;
  box-shadow: 0 5px #594f59;
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: "VT323", monospace;
  margin-left: 32%;
  margin-top: 28%;
}

.year-selector select:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px #594f59;
}

.year-selector select:active {
  transform: translateY(0);
  box-shadow: 0 2px #131313;
}

.spinner-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  color: rgb(120, 168, 159);
  font-family: VT323, monospace;
  margin-left: 5%;
  margin-right: 2%;
  font-size: 1.5rem;
  white-space: nowrap;
}

.heatmap-container {
  margin: 4% 0;
  animation: heatmapAnimation 4s ease-in-out;
  opacity: 1;
  width: 100%;
}

.heatmap-info {
  font-size: 4rem;
  margin-top: 7%;
  background-color: #6c5f75;
  align-items: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "VT323", monospace;
  color: rgb(28, 25, 59);
  width: 100%;
}

.heatmap-info strong {
  color: #c7ad7c;
  font-size: 4.5rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heatmapAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(2%);
  }
}

@media screen and (max-width: 768px) {
  .border-container {
    border: 7px solid rgb(38, 38, 38);
  }

  .top-border {
    width: 100%;
    height: 10px;
    background-color: rgb(38, 38, 38);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .bottom-border {
    width: 100%;
    height: 10px;
    background-color: rgb(38, 38, 38);
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
  }

  .title {
    font-size: 3rem;
    margin-top: 5%;
  }

  .title strong {
    font-weight: 300;
  }

  .view {
    font-size: 1rem;
    margin-right: 6%;
  }

  .year-selector select {
    padding: 5px;
    font-size: 1.2rem;
  }

  .heatmap-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative;
  }

  .heatmap-container {
    /* width: 150%; */
    /* max-width: 100%; */
    /* animation: heatmapAnimation 4s ease-in-out; */
     /* overflow-y: auto; */
     /* position: relative; */
    overflow: auto;
    white-space: nowrap;
    width: 180%;
    margin-left: 30%;
    
  }

  .heatmap-info {
    font-size: 1.5rem;
    width: calc(100% - 20px);
  }

  .heatmap-info strong {
    font-size: 2rem;
  }

  .alert {
    font-size: 1.5rem;
    white-space: normal;
    margin-left: 2%;
  }

  @keyframes heatmapAnimation {
    0% {
      transform: translateX(
        0
      ); /* Start from the initial position within the container */
    }
    100% {
      transform: translateX(100%); /* Move the content to the right */
    }
  }
}
