* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: rgb(21, 21, 31); 
}

.border-container {
  border: 20px solid rgb(38, 38, 38);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  /* margin-left: 30%; */
  color: #c7ad7c;
  font-family: "VT323", monospace;
  font-size: 5rem;
  display: flex; /* Added */
}

.view {
  align-items: center;
  justify-content: center;
  margin: 10% 0 5% 0;
  color: rgb(161, 189, 180);
  font-family: "VT323", monospace;
  font-size: 3rem;
}

.year-selector select {
  padding: 10px;
  border: none;
  border-radius: 1.5rem;
  background-color: #e7a19b;
  color: #000;
  font-size: 2rem;
  box-shadow: 0 5px #594f59;
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: "VT323", monospace;
  margin-left: 32%;
  margin-top: 28%;
}

.year-selector select:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px #594f59;
}

.year-selector select:active {
  transform: translateY(0);
  box-shadow: 0 2px #131313;
}



.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "VT323", monospace;
}

.tooltip-label {
  font-weight: bold;
}

.tooltip-val {
  margin-top: 5px;
}

.spinner-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

